<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-input [{ngmodel)]='password' placeholder='Enter New password' type='password'></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-input [{ngmodel)]='password' placeholder='Conform  password' type='password'></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" routerLink="/home" routerDirection="root">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
