.flex-name{
    display: flex;
    margin:5px;
    padding:15px;
    text-align: lest;
    font-size: 30px;
    flex-direction: row;
    gap: 50px;
  }

  .flex-mail{
    display: flex;
    margin:5px;
    padding:15px;
    text-align: lest;
    font-size: 30px;
    flex-direction: row;
    gap: 50px;
  }

  .flex-no{
    display: flex;
    margin:5px;
    padding:15px;
    text-align: lest;
    font-size: 30px;
    flex-direction: row;
    gap: 50px;
  }

  .flex-tech{
    display: flex;
    margin:5px;
    padding:15px;
    text-align: lest;
    font-size: 30px;
    flex-direction: row;
    gap: 50px;
  }

  .flex-cmp{
    display: flex;
    margin:5px;
    padding:15px;
    text-align: lest;
    font-size: 30px;
    flex-direction: row;
    gap: 50px;
  }

.flex-color{
    color: gray;
  }
  
  
  
  