<ion-header>
  <ion-toolbar>
    <ion-title style="color:rgb(0, 208, 255); text-align:left; font-size: 35px;">profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="flex-name">
      <ion-label class="flex-color" position="floating">Name</ion-label>
      <ion-label position="floating">Rajesh</ion-label>
    </div>  
    <div class="flex-mail">
      <ion-label class="flex-color" position="floating">Email</ion-label>
      <ion-label position="floating">rajesh@gmail.com</ion-label>
    </div>  
    <div class="flex-no">
      <ion-label class="flex-color" position="floating">Mobile No</ion-label>
      <ion-label position="floating">987654321</ion-label>
    </div>  
    <div class="flex-tech">
      <ion-label class="flex-color" position="floating">Technologies</ion-label>
      <ion-label position="floating">html,css</ion-label>
    </div>
    <div class="flex-cmp">
      <ion-label class="flex-color" position="floating">Working at</ion-label>
      <ion-label position="floating">Wipro</ion-label>
    </div>
  
    
  </form>  
  


</ion-content>
